.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar__header {
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar__content {
    margin-bottom: 20px;
    padding-left: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

/* red button */
.logout {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}